.products {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 27px 25px;

    .productstable {
        table {
            width: 100%;

            thead {
                th {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    color: #030229;
                    opacity: 0.7;
                    padding-bottom: 18px;

                    &:last-child {
                        display: flex;
                        justify-content: flex-end;
                        padding-right: 10px;
                    }

                    .arrowdown {
                        margin-left: 10px;
                        margin-bottom: 2px;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 20px 0px;

                        .productimg {
                            width: 91px;
                            height: 58px;
                            background: linear-gradient(180deg, #FFB800 0%, #FF8A00 101.75%), linear-gradient(180deg, #3456D0 0%, #2542A6 100%);
                            border-radius: 5px;

                            .innerimg {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                object-position: center;
                            }
                        }

                        .darktext {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #000000;
                        }

                        .bluebtn {
                            background: linear-gradient(89.93deg, #3553D5 50.15%, #0C194E 217.12%);
                            border-radius: 60px;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 21px;
                            text-align: center;
                            color: #FFFFFF;
                            padding: 12px 40px;
                            border: none;
                        }

                        &:last-child {
                            display: flex;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
}

.addproductform {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 30px;
    min-height: 100vh;
    width: 100%;

    .head {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        padding-bottom: 15px;
    }

    .droped {
        .dropbtn {
            background: #FAFAFB;
            border: 1px solid #EFEFEF;
            border-radius: 5px;
            width: 100%;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #CDCDCD;
        }

        .dropmain {
            width: 100%;
            border-radius: 10px;

            .dropdown-item.active,
            .dropdown-item:active {
                background-color: unset;
            }

            .dropdown-item:hover,
            .dropdown-item:focus {
                background-color: unset;
            }
        }
    }

    input {
        background: #FAFAFB;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        width: 100%;
        padding: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 30px;

        &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #CDCDCD;
        }
    }

    textarea {
        height: 111px;
        padding: 20px;
        background: #FAFAFB;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        margin-bottom: 30px;

        &::placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #CDCDCD;
        }
    }

    .upload-parent {
        label {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 12px;
            cursor: pointer;

            p {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                color: #CDCDCD;

                span {
                    color: blue;
                    text-decoration: underline;
                }
            }
        }

        .upload {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 386px;
            height: 287px;
            background: #FFFFFF;
            border: 1px dashed #C6C6C6;
            border-radius: 5px;
            overflow: hidden;
            cursor: pointer;
            margin-bottom: 60px;
        }

        .after-upload {
            background: #0F0F0F;
            border: 1px solid #151515;
            padding: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;

            .parent-main {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .left {
                    width: 72px;
                    height: 54px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                .right {
                    margin-left: 20px;

                    h6 {
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 12px;
                        line-height: 170%;
                        color: #FFFFFF;
                    }

                    p {
                        font-family: 'Poppins', sans-serif;
                        font-style: normal;
                        font-weight: 800;
                        font-size: 10px;
                        line-height: 170%;
                        color: #797979;
                    }
                }
            }

            .loading {
                opacity: 0.4;
            }

            .parent-right {
                i {
                    -webkit-animation: spin 4s linear infinite;
                    -moz-animation: spin 4s linear infinite;
                    animation: spin 4s linear infinite;
                }

                @-moz-keyframes spin {
                    100% {
                        -moz-transform: rotate(360deg);
                    }
                }

                @-webkit-keyframes spin {
                    100% {
                        -webkit-transform: rotate(360deg);
                    }
                }

                @keyframes spin {
                    100% {
                        -webkit-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

@media (max-width:600px) {
    .addproductform {
        padding: 0px;
    }

    .addproductform .upload-parent .upload {
        width: 100%;
    }

    .products {
        padding: 10px;

        .productstable {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            table {
                width: 650px;
            }
        }
    }
}

.jodit-status-bar {
    display: none !important;
}

.jodit-react-container {
    margin-bottom: 30px;
}