@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

.main-dashboard {
  .dashbrd_top_cardmaindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
    .new_card {
      border-radius: 5px;
      background: rgba(134, 47, 192, 0.06);
      backdrop-filter: blur(7px);
      width: 100%;
      // max-width: 206px;
      padding: 20px 15px;
      .cardinercont {
        display: flex;
        align-items: center;
        gap: 18px;
        .imgouterdiv {
          border-radius: 38px;
          background: rgba(134, 47, 192, 0.13);
          display: flex;
          width: 42px;
          height: 42px;
          padding: 8px;
          justify-content: center;
          align-items: center;
          img.inoncardiner {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            object-fit: cover;
            object-position: center;
          }
        }
        .innercontent {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          .inertext {
            color: #725196;
            font-family: Lexend;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
          }
          .commoncardtext {
            color: #fff;
            font-family: Lexend;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
          }
        }
      }
    }
  }
  .chartouterdiv {
    border-radius: 5px;
    background: rgba(134, 47, 192, 0.06);
    backdrop-filter: blur(7px);
    padding: 15px;
    .dashbodtop_left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 42px;

      .statay {
        color: var(--On-Surface, #fff);
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }
    }
  }
  .dash_leftouter {
    border-radius: 5px;
    background: rgba(134, 47, 192, 0.06);
    backdrop-filter: blur(7px);

    padding: 20px;

    .dash_leftinertop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      .lefttophdng {
        color: var(--On-Surface, #fff);
        font-family: Lexend;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }
      .lefttophdngright {
        color: #862fc0;
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        cursor: pointer;
        &:hover {
          // background: linear-gradient(89.93deg, #3553d5 50.15%, #0c194e 217.12%);
          color: #fefefe;
        }
      }
    }
    .dash_leftinersec_scrol {
      overflow-x: hidden;
      height: 100%;
      max-height: 405px;
      &::-webkit-scrollbar {
        display: none;
      }

      .scrolinerlefttop {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 23px;
        .scrolinerleft_iner {
          width: 42.138px;
          height: 42px;
          .inoncardinerxx {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            object-fit: cover;
            object-position: center;
          }
        }
        .scrolinerleft_text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 9px;
          .inertextc {
            color: #fff;

            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
          }
          .commoncardtextc {
            display: flex;
            align-items: end;
            gap: 5px;
            color: #fff;

            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; /* 10px */
            span.corre {
              color: var(--Light-Text-Color, #4c3764);

              font-size: 10px;
              font-style: normal;
              font-weight: 500;
              line-height: 100%;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
  .dastoutertable {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 10px;
    .tablerow {
      border-radius: 10px;
      background: #180d20;

      justify-content: space-between;

      display: flex;
      padding: 20px;

      align-items: flex-start;
      .toptaberow {
        color: #fff;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        opacity: 0.8;
        width: 78px;
        white-space: nowrap;
      }
      .sectblerow {
        color: #fff;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        width: 78px;
        white-space: nowrap;
      }
    }
  }
  .dash_butmright_outer_chart {
    border-radius: 5px;
    background: rgba(134, 47, 192, 0.06);
    backdrop-filter: blur(7px);
    min-width: 339px;
    min-height: 231px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
    .dash_butmouter_chart_inertext {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      .imgouterdivxx {
        display: flex;
        width: 76px;
        height: 76px;
        padding: 19px;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        background: #180d20;
        .inoncardinercx {
          width: 100%;
          height: 100%;
          /* border-radius: 5px; */
          object-fit: cover;
          object-position: center;
        }
      }
      .revng {
        color: #fff;

        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        opacity: 0.8;
      }
      .cvfred {
        color: #fff;

        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
        white-space: nowrap;
      }
    }
    .dash_butmouter_chart_inertextright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      gap: 10%;
      .inercrt {
        border-radius: 110px;
        background: #180d20;
        display: inline-flex;
        padding: 8px;
        align-items: center;
        gap: 10px;
        p.revngggren {
          color: var(--Green, #04c182);

          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
        .month {
          color: #fff;

          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 100%;
        }
      }
    }
  }

  .btumouterhdngmain {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    margin-bottom: 25px;
    margin-top: 20px;
    .inerbutmsec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      .commoncardtextbutm {
        display: flex;
        align-items: center;
        gap: 6px;
        color: #fff;

        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
      }
      .tootall {
        color: #fff;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 1199px) {
  .main-dashboard .dashbrd_top_cardmaindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
    /* width: 100%; */
  }
  .main-dashboard .dashbrd_top_cardmaindiv .new_card {
    width: 100%;
    max-width: 100%;
  }
  .main-dashboard .dash_leftouter {
    margin-top: 25px;
  }
  .main-dashboard .chartouterdiv {
    margin-bottom: 25px;
  }
}
@media (max-width: 600px) {
  .columnreverse {
    flex-direction: column-reverse;
  }
  .main-dashboard .btumouterhdngmain .inerbutmsec .commoncardtextbutm {
    font-size: 18px;
  }
  .main-dashboard .btumouterhdngmain .inerbutmsec .tootall {
    font-size: 14px;
  }
  .main-dashboard .dastoutertable .tablerow .toptaberow {
    font-size: 12px;
  }
  .main-dashboard .dastoutertable .tablerow .sectblerow {
    font-size: 12px;
  }
  .main-dashboard
    .dash_butmright_outer_chart
    .dash_butmouter_chart_inertext
    .cvfred {
    font-size: 26px;
  }
}
.custom-tab-bar {
  border-radius: 5px;
  border: 1px solid #efefef;
  display: flex;
  align-items: flex-start;
  align-items: center;
  max-width: 331px;
  width: 100%;
  position: relative;
  height: 46px;
  padding: 0px !important;
  margin: 0px !important;
  justify-content: left;

  border-radius: 3.968px;
  border: 0.794px solid #261830;
  a.clanderdate {
    gap: 10px;
    padding: 6px 11px !important;
    color: var(--Light-Text-Color, #4c3764);
    font-family: Lexend;
    font-size: 11.111px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    width: 100%;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
      border-radius: 3.968px;
      background: #862fc0;
      color: #ffffff;
    }
  }
}
